* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	display: block;

	--margin: 1.5rem;
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
}

#main {
	position: absolute;
	z-index: 99;
	margin: 0px;
	padding: 100px 0px;
}

/* text */
* {
	color: hsl(0, 0%, 100%);
	text-shadow: -2px -2px 0 hsl(0, 0%, 0%), 2px -2px 0 hsl(0, 0%, 0%), -2px 2px 0 hsl(0, 0%, 0%), 2px 2px 0 hsl(0, 0%, 0%);
	font-family: Arial, Helvetica, sans-serif;
	line-height: 2;
}

a {
	color:hsl(193, 72%, 53%);
}

/* grid */
.row {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(20, 1fr);
}

.box {
	background-color: hsla(0, 0%, 5%, 0.55);
	font-size: clamp(1.2rem, 2vmin, 1.7rem);
	padding: clamp(1rem, 2vmin, 2.5rem);
	border-radius: 3rem;
	grid-column-end: 20;
	width: fit-content;
}

.box h2,
.box h3 {
	text-align: center;
}

p, h1, h2, h3 {
	margin: 0px;
}

h1, h2, h3 {
	line-height: 1.5;
	color: hsl(34, 100%, 50%);
}

h1 {
	font-size: clamp(2.2rem, 5vmin, 3.2rem);
}

h2 {
	font-size: clamp(2rem, 4vmin, 3rem);
}

h3 {
	font-size: clamp(1.5rem, 3vmin, 2.5rem);
}

video {
	display: none;
}

ul {
	margin: 0;
	columns: 2;
	column-gap: clamp(1rem, 7vmin, 5rem);
}

li {
	page-break-inside: avoid;
	margin-bottom: var(--margin);
	break-inside: avoid;
}

#header {
	grid-column-start: 2;
	width: max-content;
	margin-bottom: 20rem;
}

#skills {
	grid-column-start: 13;
	max-width: 15rem;
	margin-bottom: 15rem;
}

#software-dev {
	grid-column-start: 3;
	max-width: 30rem;
	margin-bottom: 15rem;
}

#IT {
	grid-column-start: 16;
	max-width: 25rem;
	margin-bottom: 13rem;
}

#accomplishments {
	grid-column-start: 2;
	max-width: 40rem;
	margin-bottom: 20rem;
}

#education {
	grid-column-start: 15;
	max-width: 30rem;
	margin-bottom: 15rem;
}

#projects {
	grid-column-start: 3;
	max-width: 35rem;
	margin-bottom: 10rem;
}

#projects h2 {
	margin-bottom: 1rem;
}

.project {
	display: grid;
	justify-items: center;
	padding-bottom: 2.5rem;
}

#Formbar {
	grid-column-start: 17;
	max-width: 20rem;
	margin-bottom: 10rem;
}

#GaidosBank {
	grid-column-start: 2;
	max-width: 20rem;
	margin-bottom: 13rem;
}

#LegoLights {
	grid-column-start: 16;
	max-width: 21rem;
	margin-bottom: 17rem;
}

#Faz-Quotes {
	grid-column-start: 2;
	max-width: 80rem;
}

img, video {
	width: clamp(350px, 95vw, 1500px);
	margin-top: clamp(1rem, 5vmin, 3rem);
	max-width: 100%;
}

@media (max-width: 1000px) and (min-width: 600px) {
	#header {
		width: min-content;
	}
}

@media (max-width: 600px) {
	.row {
		display: block;
	}

	.row, .box {
		width: 100%;
		max-width: none !important;
	}
}

@media (max-width: 400px) {
	.box:not(#software-dev) > ul {
			columns: 1;
	}
}